@charset "UTF-8";
/* 
	Final Project CSS Sytlesheet (hah that's redundant) 
*/
@font-face {
  font-family: 'titleFont';
  src: url('../autumn/assets/fonts/Handel_Gothic.ttf'); /* IE9 Compat Modes */
  src: url('../autumn/assets/fonts/Handel_Gothic.ttf?#iefix') format('truetype'), /* IE6-IE8 */
       url('../autumn/assets/fonts/Handel_Gothic.ttf') format('truetype'), /* Super Modern Browsers */
       url('../autumn/assets/fonts/Handel_Gothic.ttf') format('truetype'), /* Pretty Modern Browsers */
       url('../autumn/assets/fonts/Handel_Gothic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../autumn/assets/fonts/Handel_Gothic.ttf') format('tryetype'); /* Legacy iOS */
}